:root {
  --primary: #6b0cf0;
  --secondary: #8d99ae;
  --body-bg: aliceblue;
  --header-bg: rgb(226, 241, 255);
  --sidemenu-bg: rgb(200, 230, 255);
  --main-bg: aliceblue;
  --footer-bg: rgb(226, 241, 255);
  --bg-color: #fefefe;
  --bg-color-white: #ffffff;
  --text-white: #fefefe;
  --text-black: black;
  --card-bg: #e7e7e7;
  --icon-bg: orangered;
  --p-color: black;
  --btn-danger: red;
  --btn-success: green;
  --btn-success-lt: #fca311;
  --alert-success: #007f5f;
  --alert-danger: #ba181b;
  --alert-warning: #f77f00;
  --alert-info: #3a86ff;
  --input-error: red;
  --input-warn: #ffae22;
  --input-success: #059669;

  --shadow-10: 1px 2px 9px 5px rgba(51, 51, 51, 0.2);
  --shadow-90: 1px 2px 9px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-bg);
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 85px 1fr 85px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header header header header header"
    "sidemenu sidemenu main main main main main main"
    "footer footer footer footer footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: var(--bg-color-white);
}
.sidemenu {
  grid-area: sidemenu;
  background-color: var(--bg-color-white);
}
.main {
  grid-area: main;
  background-color: var(--bg-color-white);
  padding: 0rem 0.5rem;
}
.footer {
  grid-area: footer;
  background-color: var(--bg-color-white);
}

a {
  text-decoration: none;
}

/* START UTILITY CLASSES */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.fl-wrap {
  flex-wrap: wrap;
}
.fl-jc-center {
  justify-content: centre;
}
.fl-ac-center {
  align-content: centre;
}
.fl-ai-middle {
  align-items: middle;
}
/* END UTILITY CLASSES */

.header {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: var(--bg-color); */
  /* background-image: var(--gradient); */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left.header-icon {
  padding-left: 2rem;
  height: 3rem;
  transition: 0.3s;
}
.header-left.header-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-left-header-title {
  padding: 0 2rem;
  color: var(--primary);
}

.header-header-right {
  font: inherit;
}

.header-right-header-right-icons {
  margin-right: 2rem;
  transition: all 100ms ease-in-out;
}

.header-right-header-right-icons i {
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--primary);
  transition: 0.3s;
}
.header-right-header-right-icons i:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* start sidemenu */

.sidemenu {
  padding: 0.5rem 0.5rem;
  transition: all 300ms ease-in-out;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

/* TODO: make mobile menu */
/* .sidemenu .mobile-menu {
  font: inherit;
} */

.sidemenu .desktop-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidemenu-getting-started {
  padding: 0.5rem 0;
}

.sidemenu-components {
  padding: 0.5rem 0;
}

.sidemenu-getting-started > h3 {
  padding-bottom: 1rem;
  color: var(--text-black);
  font-weight: 500;
  font-size: 1.3rem;
}

.sidemenu-getting-started > p {
  font-size: 1rem;
  color: var(--secondary);
  transition: 0.3s;
  width: 5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.sidemenu-getting-started p:hover {
  cursor: pointer;
  background-color: var(--bg-color);
  padding-left: 0.6rem;
}

/* .sidemenu-getting-started > p:active {
  cursor: pointer;
  color: black;
  background-color: var(--bg-color);
} */

.sidemenu-components h3 {
  padding-bottom: 1rem;
  color: var(--text-black);
  font-weight: 500;
  font-size: 1.3rem;
}

.sidemenu-components p {
  font-size: 1rem;
  color: var(--secondary);
  transition: 0.3s;
  width: 6rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.sidemenu-components p:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--bg-color);
  padding-left: 0.6rem;
}

/* End sidemenu */

.main {
  /* padding-right: 5rem; */
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

.main p {
  color: var(--p-color);
  font-size: 1.3 rem;
  margin: 0.5rem 0;
}

.main h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

/* home page start */

.main-index {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-index-image img {
  width: 10rem;
  height: 10rem;
}

.main-index-text {
  width: 35rem;
  font-size: 2rem;
  color: var(--primary);
  margin-top: 0.5rem 0;
}

.main-index-text p {
  text-align: center;
}

.main-index-get-started-button {
  font-size: 1.1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary);
  color: var(--bg-color-white);
  margin: 0.5rem 1rem;
  transition: 0.3s;
}
.main-index-get-started-button:hover {
  background-color: var(--bg-color-white);
  color: var(--primary);
  border: 0.2rem solid var(--primary);
  cursor: pointer;
}

.main-index-documentation-button {
  font-size: 1.1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--bg-color-white);
  color: var(--primary);
  border: 0.2rem solid var(--primary);
  margin: 0 1rem;
  transition: 0.3s;
}
.main-index-documentation-button:hover {
  background-color: var(--primary);
  color: var(--bg-color-white);
  cursor: pointer;
}

.main-index-page {
  grid-area: 2 / 1 / 9 / 9;
}
/* home page end */

/* Usage page starts */

.usage {
  font: inherit;
  margin-right: 2rem;
  height: 100vh;
}

.usage-heading {
  color: var(--primary);
  padding: 2.5rem 0;
}

.usage p {
  color: var(--text-black);
  font-size: 1.2 rem;
}

.usage-next {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}
.usage-next:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

/* Usage page ends */

/* components page starts */

/* common styles for sections and section headings */
.section {
  padding: 0.5rem 0.5rem;
}

.sub-section {
  padding: 0.25rem 0.25rem;
  margin: 0.5rem 0;
  background-color: var(--bg-color);
  margin: 0.5rem 0;
  position: relative;
}

.section .section-heading {
  font-weight: 500;
  /* font-size: 2.75rem; */
  /* line-height: 3.25rem; */
  padding: 0.5rem 0rem;
}

.section .section-sub-heading {
  font-weight: 600;
  /* font-size: 2rem; */
  /* line-height: 2.75rem; */
  padding: 0.5rem 0rem;
}

/* alert section begins */

.alert-components {
  display: flex;
  flex-direction: column;
}

.alert {
  font: inherit;
  display: flex;
  padding: 0.75rem 0.25rem;
  margin: 0.5rem 0rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.alert:hover {
  cursor: pointer;
  opacity: 0.7;
}

.alert.alert-success {
  color: var(--text-white);
  background-color: var(--alert-success);
}

.alert.alert-danger {
  color: var(--text-white);
  background-color: var(--alert-danger);
}

.alert.alert-warning {
  color: var(--text-white);
  background-color: var(--alert-warning);
}

.alert.alert-info {
  color: var(--text-white);
  background-color: var(--alert-info);
}

/* alert section ends */

/* button section starts  */

.solid-button-components {
  display: flex;
}

.button {
  border-radius: 0.15rem;
  margin: 0.25rem 0.25rem;
  /* height: 3rem; */
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--primary);
  border: none;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button-primary {
  background-color: var(--btn-success);
}

.button-secondary {
  background-color: var(--btn-success-lt);
}

.button-danger {
  background-color: var(--btn-danger);
}

.link-button-components {
  display: flex;
}

.link-button-components .button.button-primary.button-link {
  text-decoration: none;
}

.button-link {
  background-color: var(--primary);
  color: white;
}

.button-link a:link {
  text-decoration: none;
}

.icon-button-compenents {
  display: flex;
}

.button.button-icon {
  display: flex;
  justify-content: center;
  color: var(--bg-color-white);
}

.button-icon i {
  padding: 0 0.5rem;
}

.button.button-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.floating-action-button-component {
  height: 5rem;
  width: 5rem;
  position: relative;
}

.floating-action-button {
  background-color: var(--primary);
  color: var(--bg-color-white);
  font-size: 1.3rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
}
.floating-action-button:hover {
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

/* button section ends  */

/* avatar page starts */

.highlight-text {
  background-color: var(--bg-color);
  font-size: 1.3rem;
}

.avatar {
  margin: 0 0.3rem;
  position: relative;
}
.avatar {
  cursor: pointer;
}

.avatar-components {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.avatar.avatar-xl > img {
  height: 5rem;

  border-radius: 50%;
}

.avatar.avatar-lg > img {
  height: 4rem;
  margin: 0 0.5rem;
}

.avatar.avatar-md > img {
  height: 3rem;
}

.avatar.avatar-sm > img {
  height: 2rem;
}

.avatar.avatar-xs > img {
  width: 1rem;
  height: 1 rem;
}

/* avatar page ends */

/* badge section starts */

.badges-avatar-images {
  margin: 2rem 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.badge-count {
  background-color: var(--icon-bg);
  color: white;
  height: 1.2rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
}

.avatar > .badge-count.badge-near {
  bottom: 0.2rem;
  right: 0.1rem;
}
.avatar > .badge-count.badge-normal {
  bottom: 0.2rem;
  right: 0.7rem;
}
.avatar > .badge-count.badge-far {
  bottom: 0.2rem;
  right: 0.6rem;
}

.badges-icon-images {
  margin: 2rem 0;
  background-color: var(--bg-color);
  display: flex;
  border-radius: 0.5rem;
}

.icon {
  position: relative;
  font-size: 2rem;
  margin: 0 1.25rem;
  padding: 1.1rem 0.45rem;
  /* background-color: black; */
}

.icon > .badge-count {
  top: 0;
  right: 0;
  font-size: 1rem;
}

/* .icon-wishlist > .badge-count {
  top: 0;
  right: 0.6rem;
  font-size: 1rem;
}

.icon-notification > .badge-count {
  top: 0.2rem;
  right: 0.7rem;
  font-size: 1rem;
} */
/* badge section ends */

/* typography section starts */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1rem 0;
}

.text-lg {
  font-size: 1.5rem;
}

.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.sub-section .text-primary {
  color: var(--primary);
}

.sub-section .text-grey {
  color: var(--secondary);
}

.text-underline {
  text-decoration: underline;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-wavy {
  -webkit-text-decoration: wavy;
  text-decoration: wavy;
}
/* typography section ends */

/* List section starts */

.checkbox-list li {
  list-style: none;
}

.ordered-list {
  /* position: absolute;
  left: 1rem; */
  padding: 0 1rem;
}

.unordered-list {
  padding: 0 1rem;
}

.stacked-li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  width: 30rem;
  align-items: center;
}

.stacked-li .notification {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  width: 25rem;
  border: 1px solid var(--primary);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.notification .notification-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* list section ends */

/* image section starts */
.image-res {
  width: 100%;
  height: auto;
}

.image-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.image-round > div {
  margin: 1rem;
}

.section-sub-heading.image-section {
  display: flex;
}

/* image section ends */

/* input section starts */

.input > input {
  margin: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0.3em;
  border: 3px solid var(--secondary);
  /* width: 20em; */
  /* height: 3em; */
  line-height: 1.5em;
  padding: 0.2em;
}
.input {
  margin: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0.3em;
  /* width: 20em; */
  /* height: 3em; */
  line-height: 1.5em;
  padding: 0.2em;
}
.input.input-error {
  border: 3px solid var(--input-error);
}

.input.input-warn {
  border: 3px solid var(--input-warn);
}

.input.input-succ {
  border: 3px solid var(--input-success);
}

.input-err > input {
  border: 3px solid var(--input-error);
}

.input-warn > input {
  border: 3px solid var(--input-warn);
}

.input-succ > input {
  border: 3px solid var(--input-success);
}

/* input section ends */

/* CARD section begins  */
.card {
  background-color: var(--card-bg);
  max-width: 27.5vw;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
  margin: 10px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem 0.5rem;
  transition: 0.3s;
}

.card img:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* .card .icon {
  position: absolute;
  top: 0;
  left: 18rem;
  color: var(--primary);
} */

.card-description {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-white);
}

.card-product-details {
  display: flex;
  justify-content: space-between;
}

.card-description p {
  font-weight: 600;
}

.card .card-strk {
  color: var(--secondary);
  font-weight: 200;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons > button {
  min-width: 80%;
}

.card-description.card-text-overlay {
  width: 100%;
  position: absolute;
  top: 10rem;
  background-color: var(--bg-color-white);
  opacity: 0.8;
}

.card-description.card-text-overlay:hover {
  opacity: 0.8;
}

.card.card-with-text {
  border: 1px solid var(--secondary);
  border-radius: 0.3rem;
}

.card.card-with-text .card-description {
  text-align: justify;
}

.card-buttons.card-buttons-light {
  background-color: var(--bg-color-white);
}

.card.card-with-text .card-buttons {
  display: flex;
  justify-content: center;
}

.card.card-with-text .button {
  color: var(--bg-color-white);
}

.card.card-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 300ms ease-in-out;
}
.card.card-shadow:hover {
  box-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
}

/* VERTICAL CARDS */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card.card-vertical {
  background-color: var(--bg-color-white);
  min-width: 200px;
  max-width: 33%;
}

/* card horizontal image */
.card.card-horizontal {
  font: inherit;
  /* background-color: red; */
  display: flex;
  max-width: 90%;
}

.card.card-horizontal .card-image {
  font: inherit;
  width: 50%;
}

.card.card-horizontal .card-image img {
  min-width: 100px;
  max-width: 100%;
}
.card.card-horizontal .card-description {
  width: 50%;
}

.card.card-horizontal > .card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.card-horizontal .card-quantity > button {
  padding: 0.11rem 0.5rem;
}
.card.card-horizontal .card-quantity > button:hover {
  cursor: pointer;
}
.card.card-horizontal .card-quantity > span {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
}

.card.card-horizontal .card-buttons .button.button-icon {
  background-color: var(--secondary);
}

/* card rules for card with badge */

.card .card-image-with-badge {
  position: relative;
}
.card-image-with-badge figure {
  position: absolute;
  background-color: var(--primary);
  color: white;
  top: 1rem;
  right: 0rem;
  padding: 0 0.5rem;
}

/* card rules for card with badge */

.card .card-image-with-dismiss {
  position: relative;
}

.card-image-with-dismiss figure {
  position: absolute;
  color: var(--secondary);
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}

.card-image-with-dismiss figure:hover {
  cursor: pointer;
}

/* CARD section ends  */

/* nav section starts */

.nav {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary);
  justify-content: space-between;
  background-color: var(--bg-color-white);
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  padding: 0 1rem;
  width: 50%;
}

.nav-left .search-bar {
  border-radius: 1rem;
  border: 1px solid var(--primary);
  padding-left: 1rem;
  margin-left: 9rem;
  height: 2rem;
  width: 40%;
  color: var(--primary);
}

.nav-left .button.button-icon {
  height: 2.2rem;
}

.nav img {
  padding: 1rem 1rem;
  height: 5rem;
}

.nav-right i {
  font-size: 1.6rem;
  color: var(--primary);
  transition: 0.3s;
}
.nav-right i:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav-right {
  display: flex;
  align-items: center;
  width: 25%;
}

/* nav section ends */

/* Footer section begins */

/* Ends section begins */

/* componenents page ends */

/* mobile devices */
@media only screen and (min-width: 100px) and (max-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 85px repeat(2, auto) 85px;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header header"
      "sidemenu sidemenu sidemenu sidemenu sidemenu sidemenu sidemenu sidemenu"
      "main main main main main main main main"
      "footer footer footer footer footer footer footer footer";
  }

  .header {
    height: 5.5rem;
  }

  .sidemenu {
    padding: 0.5rem 0.5rem;
    display: block;
  }
  .sidemenu .mobile-menu {
    display: block;
  }
  .sidemenu .desktop-menu {
    display: none;
  }

  .main {
    padding: 1.5rem;
  }

  .header-right-header-right-icons i {
    padding: 0 0.25rem;
    font-size: 1.25rem;
  }

  .card {
    background-color: var(--card-bg);
    max-width: 100%;
  }
  /* horozontal card */
  .card.card-horizontal {
    max-width: 100%;
    width: 100%;
  }
}

/* tablet devices*/
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 85px 1fr 85px;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header header"
      "sidemenu sidemenu sidemenu main main main main main"
      "footer footer footer footer footer footer footer footer";
  }

  .sidemenu {
    padding: 0.5rem 0.5rem;
    display: block;
  }
  .sidemenu .mobile-menu {
    display: none;
  }
  .sidemenu .desktop-menu {
    display: block;
  }

  .header-right-header-right-icons i {
    padding: 0 0.5rem;
    font-size: 1.75rem;
  }

  .card {
    background-color: var(--card-bg);
    max-width: 45%;
  }
  /* horozontal card */
  .card.card-horizontal {
    max-width: 100%;
    width: 100%;
  }
}

/* desktops */
@media only screen and (min-width: 769px) and (max-width: 3000px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 85px 1fr 85px;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header header"
      "sidemenu sidemenu main main main main main main"
      "footer footer footer footer footer footer footer footer";
  }

  .sidemenu {
    padding: 0.5rem 0.5rem;
    display: block;
  }
  .sidemenu .mobile-menu {
    display: none;
  }
  .sidemenu .desktop-menu {
    display: block;
  }

  .card {
    background-color: var(--card-bg);
    max-width: 27.5vw;
  }

  /* horozontal card */
  .card.card-horizontal {
    width: 100%;
    max-width: 100%;
  }
}
