:root {
  --primary: #6b0cf0;
  --secondary: #8d99ae;
  --bg-color: #caf0f8;
  --bg-color-white: #ffffff;
  --card-bg: #e7e7e7;
  --icon-bg: orangered;
  --p-color: black;
  --btn-danger: red;
  --btn-success: green;
  --btn-success-lt: #daece4;
  --alert-success: #d1e7dd;
  --alert-danger: #f8d7da;
  --alert-warning: #fff3cd;
  --alert-info: #cff4fc;
  --input-error: red;
  --input-warn: #ffae22;
  --input-success: #059669;

  --shadow-10: 1px 2px 9px 5px rgba(51, 51, 51, 0.2);
  --shadow-90: 1px 2px 9px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding-right: 5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 85px 1fr 1fr 1fr 1fr 1fr 1fr 85px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  height: 5.5rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 1 / 2 / 9;
  background-color: var(--bg-color);
  /* background-image: var(--gradient); */
}

.header-left.header-icon {
  padding-left: 2rem;
  height: 3rem;
  transition: 0.3s;
}
.header-left.header-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-left.header-title {
  padding: 0 2rem;
  color: var(--primary);
}

.header.header-right {
  font: inherit;
}

.header-right.header-right-icons {
  margin-right: 2rem;
}

.header-right.header-right-icons i {
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--primary);
  transition: 0.3s;
}
.header-right.header-right-icons i:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sidemenu {
  padding: 0.5rem 0.5rem;
  grid-area: 2 / 1 / 9 / 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidemenu.getting-started {
  padding: 0.5rem 0;
}

.getting-started.heading {
  padding-bottom: 1rem;
  color: var(--secondary);
  font-size: 1.3rem;
}

.getting-started.usage {
  font-size: 1rem;
  color: var(--secondary);
  transition: 0.3s;
  width: 5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.getting-started.usage:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--bg-color);
  font-size: 1.1rem;
  padding-left: 0.6rem;
}
.getting-started.usage:active {
  cursor: pointer;
  color: black;
  background-color: var(--bg-color);
}

.components.heading {
  padding-bottom: 1rem;
  color: var(--secondary);
  font-size: 1.3rem;
}

.sidemenu.components p {
  font-size: 1rem;
  color: var(--secondary);
  transition: 0.3s;
  width: 6rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.sidemenu.components p:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--bg-color);
  font-size: 1.1rem;
  padding-left: 0.6rem;
}

.main {
  grid-area: 2 / 3 / 9 / 9;
}

.main p {
  color: var(--p-color);
  font-size: 1.3 rem;
  margin: 0.5rem 0;
}

.main h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

/* home page start */

.main-index {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-index-image img {
  width: 10rem;
  height: 10rem;
}

.main-index-text {
  width: 35rem;
  font-size: 2rem;
  color: var(--primary);
}

.main-index-text p {
  text-align: center;
}

.main-index-get-started-button {
  font-size: 1.1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary);
  color: var(--bg-color-white);
  margin: 0 1rem;
  transition: 0.3s;
}
.main-index-get-started-button:hover {
  background-color: var(--bg-color-white);
  color: var(--primary);
  border: 0.2rem solid var(--primary);
  cursor: pointer;
}

.main-index-documentation-button {
  font-size: 1.1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--bg-color-white);
  color: var(--primary);
  border: 0.2rem solid var(--primary);
  margin: 0 1rem;
  transition: 0.3s;
}
.main-index-documentation-button:hover {
  background-color: var(--primary);
  color: var(--bg-color-white);
  cursor: pointer;
}

.main-index-page {
  grid-area: 2 / 1 / 9 / 9;
}
/* home page end */

/* Usage page starts */

.usage {
  font: inherit;
  margin-right: 2rem;
}

.usage-heading {
  color: var(--primary);
  padding: 2.5rem 0;
}

.usage p {
  color: var(--secondary);
  font-size: 1.2 rem;
}

.usage-next {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}
.usage-next:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

/* Usage page ends */

/* components page starts */

/* common styles for sections and section headings */
.section {
  padding: 0.5rem 0.5rem;
}

.sub-section {
  padding: 0.25rem 0;
  margin: 0.5rem 0;
}

.section .section-heading {
  font-weight: 700;
  /* font-size: 2.75rem; */
  /* line-height: 3.25rem; */
  padding: 0.5rem 0rem;
}

.section .section-sub-heading {
  font-weight: 300;
  /* font-size: 2rem; */
  /* line-height: 2.75rem; */
  padding: 0.5rem 0rem;
}

/* alert section begins */

.alert-components {
  display: flex;
  flex-direction: column;
}

.alert {
  font: inherit;
  display: flex;
  height: 2rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
}

.alert.alert-success {
  background-color: var(--alert-success);
}

.alert.alert-danger {
  background-color: var(--alert-danger);
}

.alert.alert-warning {
  background-color: var(--alert-warning);
}

.alert.alert-info {
  background-color: var(--alert-info);
}

/* alert section ends */

/* button section starts  */

.solid-button-components {
  display: flex;
}

.button {
  border-radius: 0.5rem;
  margin: 1rem 1rem;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button-primary {
  background-color: var(--btn-success);
}

.button-secondary {
  background-color: var(--btn-success-lt);
}

.button-danger {
  background-color: var(--btn-danger);
}

.link-button-components {
  display: flex;
}

.button-link a:link {
  text-decoration: none;
}

.icon-button-compenents {
  display: flex;
}

.button-icon {
  display: flex;
  justify-content: space-around;
  width: 7.8rem;

  color: var(--bg-color-white);
}

.button.button-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.floating-action-button-component {
  height: 5rem;
  width: 5rem;
  position: relative;
}

.floating-action-button {
  background-color: var(--primary);
  color: var(--bg-color-white);
  font-size: 1.3rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.floating-action-button:hover {
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

/* button section ends  */

/* avatar page starts */

.highlight-text {
  background-color: var(--bg-color);
  font-size: 1.3rem;
}

.avatar {
  margin: 0 0.3rem;
  position: relative;
}

.standard-avatar-images {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.avatar.avatar-xl > img {
  height: 5rem;

  border-radius: 50%;
}

.avatar.avatar-lg > img {
  height: 4rem;
  margin: 0 0.5rem;
}

.avatar.avatar-md > img {
  height: 3rem;
}

.avatar.avatar-sm > img {
  height: 2rem;
}

.avatar.avatar-xs > img {
  width: 1rem;
  height: 1 rem;
}

/* avatar page ends */

/* badge section starts */

.badges-avatar-images {
  margin: 2rem 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.badge-count {
  background-color: var(--icon-bg);
  color: white;
  height: 1.2rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
}

.avatar > .badge-count.badge-near {
  bottom: 0.2rem;
  right: 0.1rem;
}
.avatar > .badge-count.badge-normal {
  bottom: 0.2rem;
  right: 0.7rem;
}
.avatar > .badge-count.badge-far {
  bottom: 0.2rem;
  right: 0.6rem;
}

.badges-icon-images {
  margin: 2rem 0;
  background-color: var(--bg-color);
  display: flex;
  border-radius: 0.5rem;
}

.icon {
  position: relative;
  font-size: 2.3rem;
  margin: 0.5rem 1.5rem;

  width: 3rem;
  height: 4rem;
  padding-top: 0.5rem;
}

.icon-cart > .badge-count {
  top: 0;
  right: 0;
  font-size: 1rem;
}

.icon-wishlist > .badge-count {
  top: 0;
  right: 0.6rem;
  font-size: 1rem;
}

.icon-notification > .badge-count {
  top: 0.2rem;
  right: 0.7rem;
  font-size: 1rem;
}
/* badge section ends */


/* typography section starts */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1rem 0;
}

.text-lg {
  font-size: 1.5rem;
}

.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.sub-section .text-primary {
  color: var(--primary);
}

.sub-section .text-grey {
  color: var(--secondary);
}

.text-underline {
  text-decoration: underline;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-blah {
  -webkit-text-decoration: wavy;
  text-decoration: wavy;
}
/* typography section ends */

/* List section starts */

.checkbox-list {
  list-style: none;
}

.stacked-li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  width: 30rem;
  align-items: center;
}

.stacked-li .notification {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  width: 25rem;
  border: 1px solid var(--primary);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.notification .notification-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* list section ends */

/* image section starts */
.image-res {
  width: 100%;
  height: auto;
}

.image-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.image-round > div {
  margin: 1rem;
}

.section-sub-heading.image-section {
  display: flex;
}

/* image section ends */

/* input section starts */

.input > input {
  margin: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0.3em;
  border: 3px solid var(--secondary);
  width: 20em;
  height: 3em;
  padding: 0.2em;
}

.input-err > input {
  border: 3px solid var(--input-error);
}

.input-warn > input {
  border: 3px solid var(--input-warn);
}

.input-succ > input {
  border: 3px solid var(--input-success);
}

/* input section ends */


/* componenents page ends */

/* CARD section begins  */
.card {
  background-color: var(--card-bg);
  width: 350px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
  margin: 10px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem 0.5rem;
  transition: 0.3s;
}

.card img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card .icon {
  position: absolute;
  top: 0;
  left: 18rem;
  color: var(--primary);
}

.card .icon .dismiss {
  color: var(--secondary);
}
.card .icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-description {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-white);
}

.card-description p {
  font-weight: 600;
}

.card .card-strk {
  color: var(--secondary);
  font-weight: 200;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-description.card-text-overlay {
  position: absolute;
  bottom: 5rem;
  background-color: var(--bg-color-white);
  opacity: 0.8;
}

.card-description.card-text-overlay:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card.card-with-text {
  border: 1px solid var(--secondary);
  border-radius: 0.3rem;
}

.card.card-with-text .card-description {
  text-align: justify;
}

.card-buttons.card-buttons-light {
  background-color: var(--bg-color-white);
}

.card.card-with-text .card-buttons {
  display: flex;
  justify-content: center;
}

.card.card-with-text .button {
  color: var(--bg-color-white);
}

.card.card-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card.card-vertical {
  background-color: var(--bg-color-white);
}

.card.card-horizontal {
  width: 42.9rem;

  display: flex;
}

.card-horizontal img {
  max-width: 350px;
}

.card.card-horizontal > .card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CARD section ends  */

/* componenents page ends */ ;
